.App {
  text-align: center;
}

body{
  background-color: #D6D6D6 !important;
}

#table {
  width: 75%;
  margin: auto;
  text-align: center;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}
